<section class="bg-[:root] text-[:root] my-4">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
        <div>
            <div class="flex justify-center gap-5">
                <div class="flex-grow-1">
                    <iframe title="video" width="650px" height="430px" frameborder="0" title="Video de Prueba"
                        description="Descripción del Video" allowfullscreen
                        src="https://www.youtube.com/embed/Jcbq4t3MF1E?autoplay=1">
                    </iframe>
                </div>

                <div class="max-w-lg md:max-w-none content-center">
                    <h2 class="text-2xl font-semiboldsm:text-3xl">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </h2>

                    <p class="mt-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque saepe
                        architecto maiores repudiandae amet perferendis repellendus, reprehenderit voluptas
                        sequi.
                    </p>

                    <p class="mt-4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque saepe
                        architecto maiores repudiandae amet perferendis repellendus, reprehenderit voluptas
                        sequi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>